{% include "header.html" %}

  <style>

        body {
            background-repeat: no-repeat;
            background-image: url("../static/images/back2.png");
            background-size: 100%;
            color: white;
            text-align:justify;
        }

        /*#wrapper #content {
        	background-image: 'url(../static/images/back.jpg)';
        	color: white;
        }*/

        #wrapper #content #contact_left {
        	width: 600px;
        	float: left;
        	min-height: 500px;
        }

        #contact_left h2 {
          font-size: 24px;	
        }

        #contact_left h3 {
          font-size: 20px;
          font-style: italic;	
        }

        #contact_left p {
          font-size: 14px;	
        }

        #contact_left ul {
          font-size: 14px;	
        }

        #wrapper #content #contact_right {
        	width: 300px;
        	float: right;
        	min-height: 500px;
        }

        #contact_right h2 {
          font-size: 24px;	
        }

        .thetitle {
          font-size: 25px;	
          margin-bottom: 20px;
          margin-top: 10px;
        }

        .list li {
          font-size: 18px;
          font-weight: 700;
          font-style: italic;
        }

  </style>

       <div id="content">
         <!-- Start Content -->
           <div class="container">
             <div id="contact_left">
                <!-- Start Contact Left -->
                  
                  <form> 
                    <h2 class="thetitle">Visi</h2>
                      <p>Kabinet Kerja telah menetapkan visi yang harus diacu oleh Kementerian/
                      Lembaga, yaitu “Terwujudnya Indonesia yang Berdaulat, Mandiri dan 
                      Berkepribadian Berlandaskan Gotong Royong”. Dengan memperhatikan visi 
                      pemerintah tersebut dan mempertimbangkan masalah dan tantangan yang dihadapi
                      dalam pembangunan pertanian, maka visi Kementerian Pertanian adalah:</p> 
                      <br> 
                    <h3>Terwujudnya Kedaulatan Pangan dan Kesejahteraan Petani</h3> 
                      <br> 
                    <h2 class="thetitle">Misi</h2>
                      <p>Dalam rangka mewujudkan visi ini maka misi Kementerian Pertanian adalah:</p>
                      <br> 
                      <ul class="list">  
                        <li>&bull; Mewujudkan ketahanan pangan dan gizi.</li>
                        <li>&bull; Meningkatkan Nilai Tambah dan Daya Saing Komoditas</li>
                        <li>&thinsp;&ensp;Pertanian.</li>
                        <li>&bull; Mewujudkan kesejahteraan petani.</li>
                        <li>&bull; Mewujudkan kementerian Pertanian yang transparan,</li>
                        <li>&thinsp;&ensp;akuntabel, profesional dan berintegritas tinggi.</li>
                      </ul>
                  </form>
                <!-- End Contact Left -->
             </div>
             <div id="contact_right">
                <!-- Start Contact Right -->
                <h2 class="thetitle">Visit Us!</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.743951606
91!2d119.57215431744385!3d-4.9821576999999975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0
x2dbef871c6776ec3%3A0x45f251f87b85e764!2sBalitsereal!5e0!3m2!1sid!2sid!4v1659771733515!5m2!1sid!2
sid" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- End Contact Right -->
             </div>
           </div>
         <!-- End Content -->
       </div>

{% include "footer.html" %}